<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title">
                    <span>阅读记录</span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row float">
                    <div class="item w600">
                        <div class="form-label w100">
                            <label>阅读状态:</label>
                        </div>
                        <div class="w500">
                            <label class="w80">
                                <input type="radio" name="hasRead" ng-model="condition.hasRead" ng-value="true"
                                       ng-change="query();">
                                <span style="margin-left: 3px;">已读</span>
                            </label>
                            <label class="w80" style="margin-left:20px;">
                                <input type="radio" name="hasRead" ng-model="condition.hasRead" ng-value="false"
                                       ng-change="query();">
                                <span style="margin-left: 3px;">未读</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="table-responsive panel panel-table">
                    <table class="table table-striped table-hover">
                        <thead class="table-header">
                        <tr>
                            <td style="width: 180px;">阅读时间</td>
                            <td>阅读人</td>
                        </tr>
                        </thead>
                        <tbody class="table-body">
                        <tr ng-show="!beans || !beans.total">
                            <td colspan="2" class="text-center">该文件还没有人进行阅读！</td>
                        </tr>
                        <tr bindonce ng-repeat="foo in beans.data" ng-cloak>
                            <td bo-text="foo.readTime|eccrmDatetime"></td>
                            <td bo-text="foo.receiverName"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="list-pagination" eccrm-page="pager"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">关闭</button>
            </div>
        </div>
    </div>
</div>

